* {
  margin: 0;
  padding: 0;
}

.full.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.full.container>.single.element.container {
  width: 40%;
}
